In [13]:
from pathlib import Path
import re
import pandas as pd
from collections import Counter
from tqdm import tqdm
import numpy as np

In [14]:
data_folder_path = Path("/home/pcallec/NACHOS/data/pig_kidney_subset")

In [15]:
l_image_path = list(data_folder_path.rglob("*.jpg"))

In [16]:
l_image_path[:5]

[PosixPath('/home/pcallec/NACHOS/data/pig_kidney_subset/k4/k4_medulla/39_k4_medulla.jpg'),
 PosixPath('/home/pcallec/NACHOS/data/pig_kidney_subset/k4/k4_medulla/15_k4_medulla.jpg'),
 PosixPath('/home/pcallec/NACHOS/data/pig_kidney_subset/k4/k4_medulla/45_k4_medulla.jpg'),
 PosixPath('/home/pcallec/NACHOS/data/pig_kidney_subset/k4/k4_medulla/64_k4_medulla.jpg'),
 PosixPath('/home/pcallec/NACHOS/data/pig_kidney_subset/k4/k4_medulla/12_k4_medulla.jpg')]

In [17]:
l_image_path[0].parts[-2]

'k4_medulla'

In [18]:
# filename,fold_name,relative_path,absolute_filepath,type
df_data = pd.DataFrame()
for image_path in tqdm(l_image_path):
    filename = image_path.name
    filename_stem = image_path.stem
    
    split_text = re.split(r'[_]', filename_stem)
    # e.g. ['39', 'k4', 'medulla']
    
    row_dict = pd.DataFrame({
        "filename":[filename],
        "absolute_filepath": [image_path],
        "fold_name": [split_text[1]],
        "category": [split_text[2]]
    })
    
    df_data = pd.concat([df_data, row_dict], ignore_index=True)

100%|██████████| 1500/1500 [00:00<00:00, 4609.71it/s]

In [19]:
df_data.head()

,filename,absolute_filepath,fold_name,category
0,39_k4_medulla.jpg,/home/pcallec/NACHOS/data/pig_kidney_subset/k4...,k4,medulla
1,15_k4_medulla.jpg,/home/pcallec/NACHOS/data/pig_kidney_subset/k4...,k4,medulla
2,45_k4_medulla.jpg,/home/pcallec/NACHOS/data/pig_kidney_subset/k4...,k4,medulla
3,64_k4_medulla.jpg,/home/pcallec/NACHOS/data/pig_kidney_subset/k4...,k4,medulla
4,12_k4_medulla.jpg,/home/pcallec/NACHOS/data/pig_kidney_subset/k4...,k4,medulla

In [20]:
l_category=["cortex", "medulla","pelvis-calyx"]

category_to_label = {category: label for label, category in enumerate(l_category)}
df_data['label'] = df_data['category'].map(category_to_label)
df_data.to_csv("/home/pcallec/analyze_images/results/pig_kidney_subset/pig_kidney_subset_metadata.csv", index=False)

In [21]:
df_data.head()

,filename,absolute_filepath,fold_name,category,label
0,39_k4_medulla.jpg,/home/pcallec/NACHOS/data/pig_kidney_subset/k4...,k4,medulla,1
1,15_k4_medulla.jpg,/home/pcallec/NACHOS/data/pig_kidney_subset/k4...,k4,medulla,1
2,45_k4_medulla.jpg,/home/pcallec/NACHOS/data/pig_kidney_subset/k4...,k4,medulla,1
3,64_k4_medulla.jpg,/home/pcallec/NACHOS/data/pig_kidney_subset/k4...,k4,medulla,1
4,12_k4_medulla.jpg,/home/pcallec/NACHOS/data/pig_kidney_subset/k4...,k4,medulla,1

In [22]:
Counter(df_data["category"])

Counter({'medulla': 500, 'cortex': 500, 'pelvis-calyx': 500})

In [23]:
l_category = df_data["category"].unique()
l_category

array(['medulla', 'cortex', 'pelvis-calyx'], dtype=object)

In [25]:
df_data_stats = df_data.groupby(["fold_name", "category"]).size().reset_index(name='count')
df_data_stats.head()

  fold_name      category  count
0        k1        cortex    100
1        k1       medulla    100
2        k1  pelvis-calyx    100
3        k2        cortex    100
4        k2       medulla    100

In [26]:
df_data_stats.to_csv("/home/pcallec/analyze_images/results/pig_kidney_subset/pig_kidney_subset_properties_stats.csv", index=False)

In [27]:
df_data.to_csv("/home/pcallec/analyze_images/results/pig_kidney_subset/pig_kidney_subset_properties.csv", index=False)

In [28]:
# Partition data into train, val, and test

df_data_stats

   fold_name      category  count
0         k1        cortex    100
1         k1       medulla    100
2         k1  pelvis-calyx    100
3         k2        cortex    100
4         k2       medulla    100
5         k2  pelvis-calyx    100
6         k3        cortex    100
7         k3       medulla    100
8         k3  pelvis-calyx    100
9         k4        cortex    100
10        k4       medulla    100
11        k4  pelvis-calyx    100
12        k5        cortex    100
13        k5       medulla    100
14        k5  pelvis-calyx    100